
/* Variables and preconfigs */

:root{
    --col1 : #61576E;
    --col2 : #AD76F0;
    --col3 : #D2BBED;
    --col4 : #481E7A;
    --col5 : #A593BA;
    --white-theme : #ececec;
    --black-theme : #343632
}

.angel-container{
    max-width: 1700px;
    margin: auto;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

#mobile{
    display: none;
}

/* STYLES */

body{
    background-color: var(--white-theme);
    font-family: 'Noto Sans JP';
    font-weight: 100;
}

#homeBtn{
    width: 20px;
    transition: .2s;
}

#homeBtn img{
    width: 100%;
}

header{
    background: var(--col1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: .3s;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: var(--white-theme);
    text-transform: uppercase;
    margin: 10px;
    font-size: 1.3em;
    font-family: 'Noto Sans JP';
    font-weight: 500;
}
header nav a:hover{
    cursor: pointer;
}

header nav a:first-child::after{
    display: none;
}

#homeBtn img{
    transition: .4s;
    filter: invert(1);
    width: 100%;
    height: 100%;
}

#homeBtn img:hover{
    transform: scale(1.2);
}

header nav a::after{
    margin-top: 4px;
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    transition: .2s;
    display: flex;
    opacity: 0;
}

header nav a:hover::after{
    width: 100%;
    opacity: 100%;
}

/* --------------------- INTRO SECTION ---------------------- */

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    font-size: 1.5em;
}

#intro .wheel-container{
    margin-top: 50px;
    width: 50px;
    height: 70px;
    border-radius: 30px;
    padding: 5px;
}

#intro .wheel-container .wheel{
    width: 60px;
    height: 40px;
    clip-path: polygon(50% 70%, 90% 16%, 99% 30%, 50% 100%, 50% 100%, 0 30%, 10% 16%);
    border-radius: 100%;
    margin: auto;
    background-color: var(--col4);
    animation-name: wheel-down;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
/* ------------------ ABOUT ME SECTION --------------- */
#about-me{
    height: 1000px;
    background-color: var(--col3);
}

#about-me .abt{
    display: flex;
    position: relative;
}

#about-me .abt .photo-container{
    background-image: url(../img/me2.jpg);
    width: 800px;
    height: 100%;
    background-size:100%;
    background-position: left;
}
#about-me .abt .wavy-p{
    position: absolute;
    right: 0;
    width: 100%;
    height: 850px;
    background-size: cover;
}
.info-text{
    position: absolute;
    top: 2px;
    right: 40px;
    z-index: 5;
    max-width: 45%;
    color: white;
}
.info-text h1{
    font-size: 2em;
    font-weight: 600;
}
.info-text article{
    font-size: 1.8em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.info-text article{
    color: var(--white-theme);
}
.info-text article p{
    margin: 10px;
    color: var(--black-theme);
    font-weight: 400;
    opacity: 70%;
}

/* ----------------- HABILITIES SECTION ------------------------- */

#habilities b:first-child{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#habilities b:first-child h1{
    text-align: center;
    color: var(--col2)
}

.hab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hab-container button{
    margin: 20px;
    width: 75px;
    height: 100px;
    z-index: 12;
    position: absolute;
}

.hab-container button:first-child{
    left: 0;
}

.hab-container button:last-child{
    right: 0;
}

.slider-container{
    display: flex;
    max-width: 90%;
    min-width: 90%;
    overflow: hidden;
}

.sliding-show{
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
    transform: translateX(-40px);
    transition: .4s;
}

.card-show{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    max-width: 33%;
    height: 95%;
    background-color: var(--col1);
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
    position: relative;
}

.card-show .img-container{
    overflow: hidden;
    width: 100%;
    max-height: 200px;
    box-shadow: -5px -5px 20px 2px #00000024;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-adv{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.637);
    margin: 0;
    padding: 10px;
    color: #ffff;
    width: 100%;
    text-align: center;
}

.card-show .html-img-container {
    background-color: white;
}

.card-show .css-img-container{
    background-color: #168ecd;
}

.card-show .js-img-container{
    background-color: #ffd83a;
}

.card-show .node-img-container{
    background-color: #398f3d;
}

.card-show .express-img-container{
    background-color: #ffff;
}

.card-show .mysql-img-container{
    background-color: #ffff;
}

.card-show img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    max-width: 300px;
    transition: .4s;
    transform: scale(0.9);
}
.card-show img:hover{
    transform: scale(0.7);
}

.card-show .card-text-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

.lb{
    height: 100%;
    background-color: var(--col4);
}

.med-bar{
    height: 8px;
    background-color: var(--col5);
    width: 80%;
    margin: 8px;
    border-radius: 20px;
    overflow: hidden;
}

.card-show .card-text-container h3{
    font-size: 1.5em;
    margin: 0
}
.card-show .card-text-container p{
    text-align: left;
    font-weight: 500;
}

.hab-container button{
    background-color: rgba(0, 0, 0, 0.637);
    border: none;
    border: 2px solid transparent;
}

.hab-container button:hover{
    background-color: var(--col2);
    cursor: pointer;
    transition: .2s;
}

.hab-container button:focus{
    border-color: var(--col2);
    outline: none;
    background-color: var(--col2);
}

.hab-container button:first-child img{
    transform: rotate(180deg);
}

.hab-container button img{
    width: 100%;
    height: 100%;
    filter: invert(1);
}

/* --------------------------- PROJECTS SECTION ------------------------ */

#projects{
    background-color: var(--black-theme);
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.star-falling{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    background-repeat: repeat;
    overflow: hidden;
    z-index: 0;
}

.space{
    width: 100%;
    height: 100%;
    background-image: url('../img/pattern.jpg');
    margin: 0;
    animation: spaceMove alternate 20s linear infinite;
    background-size: cover;
}

.flex-allpr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-theme);
    position: relative;
    z-index: 1;
}

.flex-allpr-container h2{
    font-size: 2em;
    letter-spacing: 5px;
    padding: 20px;
    background-color: black;
    margin: 0;
    margin-top: 20px;
}

.projects-container{
    padding: 50px 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-card{
    width: 30%;
    margin: 1.5%;
    height: 500px;
    background-image: url("../img/papyrus-dark.png");
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: .4s;
}

.info-container{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project-thumbnail{
    margin: 30px 10px 10px 10px;
    width: 90%;
    height: 130px;
    object-fit: cover;
    filter: brightness(.6);
    transition: .3s;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-thumbnail {
    filter: brightness(1);
}

.info-container h4{
    font-size: 2em;
    margin: 10px;
    font-weight: 500;
    color: var(--col5);
}

.project-card article{
    text-align: center;
    margin: 10px;
}

.project-card a{
    padding: 10px 30px;
    border: 3px solid var(--col1);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin: 5px;
    transition: .3s;
    color: var(--col1);
}

.project-card a:hover{
    background-color: var(--col2);
    cursor: pointer;
    color: white;
}

.tech-use{
    background-color: black;
    width: 100%;
    height: 15%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-use p{
    margin: 4px;
}

.tech-use figure{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    justify-content: center;
}

.tech-use figure img{
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: .3s;
}

.tech-use figure img:hover{
    transform: scale(1.5);
}

/*  ------------------- EDUCATION SECTION ------------------- */

#education{
    padding: 30px 0;
    width: 100%;
    height: fit-content;
    background-color: black;
    background-image: url("../img/papyrus-dark.png");
    background-size: contain;
    background-repeat: repeat;
}

.certif-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.certif-container h2{
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 5em;
}

.certif-container p{
    text-align: center;
    margin: 0;
    color: white;
    font-weight: lighter;
    font-size: 2em;
}

.edu-container{
    width: 90%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 250px);
    grid-auto-rows: 250px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}
.edu-container .normalSize{
    position: relative;
}

.edu-container .normalSize:hover .eduHov{
    opacity: 100%;
}

.edu-container .certf .eduHov{
    opacity: 0%;
    display: flex;
    background-color: #00000088;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.edu-container .normalSize .eduHov{
    position: absolute;
}
.edu-container .certf .eduHov button{
    width: 30%;
    height: 30%;
    background-image: url(../img/plus.png);
    background-size: contain;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
}

.edu-container .certf .eduHov button:focus{
    outline: none;
}

.edu-container .certf .eduHov button:hover{
    transform: scale(1.2);
}

.edu-container .normalSize img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.edu-container .certf:nth-child(3){
    grid-row: span 2;
}
.edu-container .certf:nth-child(4){
    grid-row: span 2;
}
.edu-container .certf:nth-child(15){
    grid-row: span 2;
}
.edu-container .certf:nth-child(17){
    grid-row: span 2;
}

.max-size{
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
}

.max-size img{
    object-fit: contain;
    transition: .5s;
    width: 90%;
    height: 90%;
}
.max-size img:hover{
    transform: scale(1.2);
}

.max-size button{
    width: 50px;
    height: 50px;
    background-image: url(../img/plus.png);
    transform: rotate(45deg);
    filter: drop-shadow(2px 4px 6px black);
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    transition: .4s;
}

.max-size button:hover{
    transform: scale(1.2);
}

.max-size button:focus{
    outline: none;
    transform: rotate(-95deg);
    transition: .2s;
}


/* ------------------- CONTACT SECTION ------------------- */

#contact{
    height: fit-content;
    background-color: black;
    padding: 20px;
    color: white;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h2{
    margin: 0;
    padding: 20px;
    font-size: 5em;
}

.contact-ways{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin: 20px;
}

.contact-ways .contact-container{
    width: 100px;
    height: 100px;
}

.contact-btn{
    width: fit-content;
    height: fit-content;
    transition: .4s;
    border: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    margin: 20px;
}
.contact-btn:focus{
    outline: none;
    transform: scale(1.2);
    margin: 20px;
}

.contact-img{
    margin: 0%;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: .4s;
}

.github{background-image: url(../img/github.png);}
.linkedin{background-image: url(../img/linkedin.png);}
.mail{background-image: url(../img/email.png);}
.sovf{background-image: url(../img/sovf.png);}

.contact-btn:hover .github{background-image: url(../img/githubH.png);}
.contact-btn:hover .linkedin{background-image: url(../img/linkedinH.png);}
.contact-btn:hover .mail{background-image: url(../img/emailH.png);}
.contact-btn:hover .sovf{background-image: url(../img/sovfH.png);}

.contact-btn:focus .github{background-image: url(../img/githubH.png);}
.contact-btn:focus .linkedin{background-image: url(../img/linkedinH.png);}
.contact-btn:focus .mail{background-image: url(../img/emailH.png);}
.contact-btn:focus .sovf{background-image: url(../img/sovfH.png);}


footer{
    display: flex;
    max-width: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: var(--col1);
    color: white;
    flex-direction: column;
}




















/* ANIMATIONS */

@keyframes wheel-down{ 
    0%{margin-top: 0%; opacity: 30%;}
    100%{margin-top: 100%; opacity: 100%;}
}

@keyframes spaceMove{
    0%{ transform: scale(1);}
    100%{transform: rotate(360deg); transform: scale(1.5);}
}

@keyframes opacityLapse{
    0%{opacity: 0%; background-size: 100%;}
    100%{opacity: 100%; background-size: 200%;}
}

.hidden{
    opacity: 0%;
    transition: .3s;
}

.showing {
    opacity: 100%;
    transition: .3s;
}

.showing-slow{
    opacity: 100%;
    transition: 1s;
}

.hidden-slide-right{
    opacity: 0%;
    right: 0;
}

/* "RESPONSIVE" */

@media (max-width: 900px) and (min-width: 0px){
    header{ display: none;}
    #mobile{display: flex; flex-direction: column; background-color: var(--white-theme); color: var(--black-theme); font-weight: bold; justify-content: center; align-items: center; height: 100vh; width: 100%; text-align: center;}
    #mobile p:first-child{font-size: 10em; margin: 10px;}
    #mobile p:nth-child(2){font-size: 1.2em;}
    #mobile p:last-child{ color: var(--col2);}
    #intro{ display: none;}
    #about-me{display: none;}
    #habilities{display: none;}
    #projects{display: none;}
}